body {
    font-family: cursive;
    background-color: lavenderblush;
}

.blue {
    background-color: midnightblue;
}

div {font-family: cursive;
    font-size: large;
    background-color: purple;

}