body {
    font-family: cursive;
    background-color: lavenderblush;
}

.blue {
    background-color: midnightblue;
    color: mistyrose;
    text-decoration: line-through;
}
p {
    background-color: midnightblue;
    color: mistyrose;
}

Div {font-family: cursive;
    font-size: large;

}
